.app {
  width: 100%;
}

.container-app {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
  .container-app {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container-app {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  .container-app {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .container-app {
    max-width: 540px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.text-lg {
  font-size: 50px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .text-lg {
    font-size: 20px;
  }
}

.text-md {
  font-size: 17px;
  line-height: 180%;
}

.text-bold {
  font-weight: 800;
}

.button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  transition: all .2s;
}

.button:active {
  transform: scale(0.9);
  transition: all .2s;
}

.button:hover {
  background-color: #0135ac;
  transition: all .2s;
}

.button-cta {
  background-color: #0f4fe1;
  border-radius: 150px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  padding: 20px 40px;
}

.button-login {
  border: 1.5px solid #0f4fe1;
  box-sizing: border-box;
  border-radius: 150px;
  color: #0f4fe1;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-align: center;
  padding: .5rem 0;
  width: 150px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
  text-decoration: none;
}

.button-login:hover {
  color: white;
}

/* CSS SECTION HEADER */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  z-index: 10;
}

.header__logo__burger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}

.header__logo__burger-logo {
  height: 60px;
  width: auto;
  object-fit: contain;
}

.header_navigation {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.header_navigation_menu {
  list-style: none;
  display: flex;
  gap: 32px;
}

.header_navigation_menu__item {
  position: relative;
}

.header_navigation_menu__item__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  color: black;
  position: relative;
}

.header_navigation_menu__item__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 6px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  background: #0f4fe1;
  opacity: .4;
}

.header_navigation_menu__item:hover  .header_navigation_menu__item__link::after {
  width: calc(100% + 16px);
  transition: all .3s;
}

.header_navigation_menu__item-wrapSubmenu {
  position: absolute;
  bottom: 0;
  left: -6px;
  transform: translateY(100%);
  padding-top: 20px;
  z-index: -1;
  background-color: transparent;
}

.header_navigation_menu__item-submenu {
  border-radius: 10px;
  background-color: white;
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: all .3s;
}

.header_navigation_menu__item:hover .header_navigation_menu__item-wrapSubmenu {
  z-index: 2;
}

.header_navigation_menu__item:hover .header_navigation_menu__item-wrapSubmenu .header_navigation_menu__item-submenu {
  max-height: 50vh;
  outline: 1px solid #dee2e6;
  transition: max-height .5s;
}

.header_navigation_menu__item-menuItem {
  width: 285px;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header_navigation_menu__item-menuItem:first-child {
  border-right: 1px solid #dee2e6;
}

.header_navigation_menu__item-menuItem-title {
  padding: 0 1.5rem 0;
  text-align: center;
  font-size: 16px;
  color: black;
  font-weight: 500;
}

.header_navigation_menu__item-menuItem-des {
  padding: 0rem 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 16px;
}

.header_navigation_menu__item-menuItem-link {
  display: flex;
  gap: 1rem;
  font-size: 14px;
  text-decoration: none;
  color: #1e2125;
  align-items: center;
  padding: 1rem 2rem;
}

.header_navigation_menu__item-menuItem-link:hover,
.header_navigation_menu__item-menuItem-link:focus {
  background-color: #e9ecef;
}

.header_navigation_menu__item-menuItem-link-icon {
  width: 24px;
  height: auto;
  max-height: 24px;
  object-fit: contain;
}

.header_navigation_media {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header_navigation__media__link {
  text-decoration: none;
}

.header_navigation__media__link__img {
  width: auto;
  max-width: 24px;
  height: auto;
  object-fit: contain;
}

.header_button_login {
  display: flex;
  align-items: center;
}

.header__logo__burger-burger {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header_navigation_menu__item-wrapSubmenu {
    left: unset;
    right: -30px
  }
}

@media screen and (max-width: 992px) {
  .header  {
    flex-direction: column;
    max-width: unset;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: #959da533 0 15px 16px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .header__logo__burger {
    width: 100%;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 20%;
  }

  .header__logo__burger-burger  {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__logo__burger-burger i {
    font-size: 28px;
  }

  .header_button_login {
    display: none;
  }

  .header_navigation {
    flex-direction: column;
    gap: 32px;
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
  }

  #openMenuMobile:checked ~ .header .header_navigation {
    max-height: 100vh;
    transition: all .5s;
  }

  .header_navigation_menu {
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .header__logo__burger-logo {
    height: 36px;
  }

  .header_navigation_menu__item-wrapSubmenu {
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
    transform: unset;
    z-index: 2;
    padding-top: 0;
  }

  .header_navigation_menu__item-menuItem-title,
  .header_navigation_menu__item-menuItem-des {
    display: none;
  }

  .header_navigation_menu__item-submenu {
    flex-direction: column;
    outline: none !important;
    border-radius: 0;
    padding-left: 46px;
    margin-top: 10px;
  }

  .header_navigation_menu__item-menuItem {
    width: 100%;
    padding: 0;
    border: none !important;
  }

  .header_navigation_menu__item-menuItem-link {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 576px) {
  .header__logo__burger {
    padding-left: 0;
  }

  .header__logo__burger-logo {
    display: none;
  }
}
/* END CSS SECTION HEADER */

/* CSS FOR WIDTH BACKGROUND SPECIAL */
.hero,
.register {
  width: calc(100% - 70px);
}

@media screen and (max-width: 992px) {
  .hero,
  .register {
    width: calc(100% - 35px);
  }
}

/* CSS SECTION HERO */
.hero {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.hero__bgColor {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 1;
  height: 100%;
  background: linear-gradient(180deg,#9fb9f3 0%,rgba(159,185,243,0) 100%);
  opacity: .3;
  border-radius: 15px 15px 0 0;
}

.hero__data {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  gap: 100px;
}

.hero__data__info {
  width: 50%;
  padding-top: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.hero__data__background {
  width: 50%;
  height: inherit;
  position: relative;
}

.hero__data__background__photo {
  position: absolute;
  height: 100%;
  width: auto;
  object-fit: contain;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1200px) {
  .hero__data {
    gap: 0px;
    flex-direction: column;
  }
  
  .hero__data__info {
    width: 100%;
    max-width: 690px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: auto;
    margin-right: auto;
  }

  .hero__data__info-title {
    text-align: center;
  }
  
  .hero__data__background {
    width: 100%;
    height: auto;
  }
  
  .hero__data__background__photo {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    top: unset;
    left: unset;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    width: calc(100% - 30px);
  }

  .hero__data__info-title {
    font-size: 50px;
  }

  .hero__data__info {
    padding-top: 120px;
    max-width: 515px;
  }
}

@media screen and (max-width: 768px) {
  .hero__data__info-title {
    font-size: 40px;
  }
}
/* END CSS SECTION HERO */

/* CSS SECTION REINFORCING */
.reinforcing {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  margin-top: 130px;
}

.reinforcing-card-pink {
  background-color: rgb(255, 239, 237);
}

.reinforcing-card-violet {
  background-color: rgb(248, 237, 255)
}

.reinforcing-card-blue {
  background-color: rgb(237, 241, 255)
}

.reinforcing-card {
  width: 100%;
  padding: 38px 42px;
  border-radius: 20px;
}

.reinforcing-card__thumbnail {
  display: block;
  height: 198px;
  width: 100%;
  object-fit: contain;
}

.reinforcing-card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 180%;
  margin-top: 42px;
}

.reinforcing-card__desc {
  margin-top: 16px;
}

@media screen and (max-width: 992px) {
  .reinforcing {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 16px;
  }
  
  .reinforcing-card {
    width: 100%;
    padding: 38px 42px;
    border-radius: 20px;
  }
  
  .reinforcing-card__thumbnail {
    display: block;
    height: 198px;
    width: 100%;
    object-fit: contain;
  }
  
  .reinforcing-card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 180%;
    margin-top: 42px;
  }
  
  .reinforcing-card__desc {
    margin-top: 16px;
  }
}
/* END CSS SECTION REINFORCING */

/* CSS SECTION REGISTER */
.register {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #0f4fe1;
  border-radius: 20px;
  padding-top: 118px;
  padding-bottom: 132px;
  margin-top: 150px;
}

.register__bgColor {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 1;
  height: 100%;
  background-image: url('https://sisu.network/assets/form-background.ef49a03c.svg');
  background-repeat: repeat;
  z-index: 1;
}

.register__logo {
  width: 102px;
  height: 119px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 24px 32px #0000000a, 0 16px 24px #0000000a, 0 4px 8px #0000000a, 0 0 1px #0000000a;
  border-radius: 30px;
  position: absolute;
  right: 42px;
  bottom: -54px;
  z-index: 3;
}

.register__logo-img {
  width: 80%;
  height: auto;
  display: block;
  object-fit: contain;
}

.register__data {
  width: 100%;
  position: relative;
  z-index: 2;
}

.register__data__info {
  width: 100%;
}

.register__data__info-title,
.register__data__info-subTitle {
  width: 100%;
  text-align: center;
  position: relative;
  color: #fff;
  overflow: hidden;
}

.register__data__info-title::after {
    content: "";
    position: absolute;
    width: 640px;
    height: 6px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 29px;
    background: #ffffff;
    opacity: .4;
}

.register__data__form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 392px;
  margin-top: 46px;
  box-shadow: 0 16px 24px #0000000f, 0 2px 6px #0000000a, 0 0 1px #0000000a;
  border-radius: 1000px;
  background-color: white;
  border: 2px solid white;
  display: flex;
  overflow: hidden;
}

.register__data__form-input {
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding-left: 32px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 180%;
}

.register__data__form-btnSubmit {
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .register {
    margin-top: 40px;
  }
  
  .register__data__info-title::after {
      width: 264px;
      bottom: 8px;
  }
}

@media screen and (max-width: 568px) {
  .register__data__form-btnSubmit {
    font-size: 0;
    width: 66px;
    height: 66px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .register__data__form-btnSubmit::before {
    content: "\f30b";
    font-family: "Font Awesome 5 free"; 
    font-size: 18px;
    font-weight: 700;
  }
}
/* END CSS SECTION REGISTER */

/* CSS SECTION FEATURE - SupportedChains */
.features-SupportedChains {
  display: flex;
  margin-top: 200px;
  gap: 32px;
}

.features-SupportedChains_title {
  flex-shrink: 0;
}

.features-SupportedChains_thumbnail {
  width: 100%;
}

.features-SupportedChains_thumbnail-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media screen and (max-width: 992px) {
  .features-SupportedChains {
    margin-top: 170px;
    flex-direction: column;
    gap: 64px;
  }
}
/* END CSS SECTION FEATURE - SupportedChains */

/* CSS SECTION FEATURE - component */
.features-component {
  width: 100%;
  display: flex;
  gap: 32px;
  margin-top: 200px;
}

.features-component-reverse {
  flex-direction: row-reverse;
}

.features-component-align-center{
  align-items: center;
}

.features-component_thumbnail {
  width: 100%;
}

.features-component_thumbnail-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.features-component_data {
  width: 100%;
}

.features-component_data_bullets {
  width: 100%;
  margin-top: 16px;
}

.features-component_data_bullet_item {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 215%;
}

.features-component_data_bullet_item::before {
    display: inline-block;
    content: "";
    background: url("https://sisu.network/assets/check-bullet.a1b8846c.svg") no-repeat;
    width: 18px;
    height: 18px;
    margin-right: 16px;
    position: relative;
    bottom: -3px;
}

@media screen and (max-width: 992px) {
  .features-component {
    flex-direction: column-reverse;
    gap: 16px;
    margin-top: 64px;
  }
}
/* END CSS SECTION FEATURE - component */

/* CSS SECTION APP */
.apps {
  width: 100%;
  margin-top: 200px;
  position: relative;
  padding-bottom: 160px;
}

.apps__bgColor {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0;
  z-index: 1;
  height: 100%;
  background: linear-gradient(180deg,rgba(159,185,243,0) 0%,#9fb9f3 100%);
  opacity: .3;
  border-radius: 16px;
}

.apps__data {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 2;
}

.apps__data__title {
  flex-shrink: 0;
}

.apps__data__thumnail {
  width: 100%;
  height: 360px;
  position: relative;
}

.apps__data__thumnail-img {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .apps__data__thumnail {
      height: 215px;
  }
}

@media screen and (max-width: 992px) {
  .apps {
    margin-top: 64px;
    padding-bottom: 30px;
    width: 96vw;
    margin-left: auto;
    margin-right: auto;
  }

  .apps__data {
    flex-direction: column;
    gap: 16px;
  }

  .apps__data__thumnail {
    height: auto;
  }

  .apps__data__thumnail-img {
    position: relative;
    width: 100%;
    height: auto;
  }
}
/* END CSS SECTION APP */

/* CSS SECTION FAQ */
.faq {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 365px;
  margin-top: 150px;
  grid-column-gap: 64px;
}

.faq__contact {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f4f7ff;
  border-radius: 20px;
  box-shadow: 0 6px #0f4fe1;
}

.faq__contact__ic {
  width: 56px;
  height: auto;
  object-fit: contain;
  display: block;
}

.faq__contact__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  margin-top: 46px;
  width: 100%;
}

.faq__contact__desc {
  font-size: 18px;
  line-height: 175%;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.faq__contact__desc__buttonEmail {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 42px;
}

.faq__data__list {
  width: 100%;
  margin-top: 32px;
}

.faq__data__item {
  width: 100%;
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.faq__data__item-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.faq__data__item-title-icon {
  width: 6px;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

.faq__data__item-content {
  width: 100%;
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  display: none;
}

.openFAQ:checked + .faq__data__item .faq__data__item-title-icon {
  display: none;
}

.openFAQ:checked + .faq__data__item .faq__data__item-content {
  display: block;
}

@media screen and (max-width: 992px) {
  .faq {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
  
  .faq__contact {
    max-width: 365px;
    min-height: 400px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* END CSS SECTION FAQ */

/* CSS SECTION FOOTER */
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 136px;
  padding-bottom: 135px;
}

.footer__logo {
  width: 8rem;
  height: auto;
  object-fit: contain;
}

.footer__text {
  margin-top: 89px;
  text-align: center;
}

.footer__media {
  display: flex;
  justify-content: center;
  gap: 48px;
  align-items: center;
  margin-top: 50px;
}

.footer__media__link {
  text-decoration: none;
}

.footer__media__link__img {
  width: auto;
  max-width: 24px;
  height: auto;
  object-fit: contain;
}
@media screen and (max-width: 576px) {
  .footer {
    margin-top: 89px;
  }
  
  .footer__logo {
    display: none;
  }
  
  .footer__text {
    margin-top: 0;
  }
}
/* END CSS SECTION FOOTER */